<a href="https://colab.research.google.com/github/jota-villacis/pythonNotes/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Notas Curso Python para Todos - Udemy**

Instructor: Manuel Montoya

DataHack Formation

# Tipos de Variables

> ..:: Variables Numericas ::..

In [ ]:
# Tipo Entero (int)

x = 20
x

20

In [ ]:
# Tipo decimal / Variable de punto flotante (float)

y = 10.8
y

10.8

In [ ]:
# Obetner el tipo de variable

type(y)

float

> ..:: Casteo de variables numéricas ::..

In [ ]:
x = 50.7
y = 48.9

# Casteo explícito > Le indico el tipo de variable que quiero obtener y la coloco dentro "z = int(x+y)"

z = int(x+y)
z

99

In [ ]:
z = int(x) + int(y)
z

98

> ..:: Funcion "round" ::..

In [ ]:
# Permite obtener el número entero más cercano a el número decimal 

x = 37.4
y = 22.8

z = round(x) + round(y)
z

60

In [ ]:
# Para convertir una variable a tipo "float" (flotante)

x = 7

z = float(x)
z

7.0

In [ ]:
# Comprobamos el tipo de dato nuevamente con "type(z)"

type(z)

float

> ..:: Operadores de Variables Numéricas ::..

In [ ]:
 a = 20
 b = 10

In [ ]:
# Adición 

a + b

30

In [ ]:
# Sustracción

a - b

10

In [ ]:
# Multiplicación

a * b

200

In [ ]:
# División

a / b

2.0

In [ ]:
# Potencia

a ** b

10240000000000

In [ ]:
# Obtner el Resto

a % b

0

In [ ]:
# Raiz cuadrada -> "elevar a 1/2" 

x = 16
y = 1/2

x ** (y)

4.0

In [ ]:
# Orden de operaciones

5 + 16 / 2 ** 4

6.0

In [ ]:
5 + (16 / 2) ** 4

4101.0

> ..:: Variables Booleanas ::..

In [ ]:
4 < 5

True

In [ ]:
a = 4 > 5
a

False

In [ ]:
4 == 4

True

In [ ]:
x = 4 == 6
x

False

In [ ]:
x = True
y = False

type(x)

bool

> ..:: Operadores de combinación de variables booleanas ::..

In [ ]:
c = True
d = False

In [ ]:
# Operador "and" > Devuelve un valor verdadero(True) si los valores analizados son verdaderos

c and c

True

In [ ]:
c and d

False

In [ ]:
# Operador "or" > Devuelve un valor verdadero(True) siempre y cuando al menos uno de los valores analizados sea verdadero

c or d

True

In [ ]:
d or d

False

In [ ]:
(3 < 4) and (4 < 5)

True

> ..:: Strings ::..

In [ ]:
saludo = "Hola Mundo!"
saludo

'Hola Mundo!'

In [ ]:
type(saludo)

str

In [ ]:
# "F strings" > Permite combinar sentencias de texto con valores que tenemos en otras variable

nombre = "Thor"
edad = 30

saludo = f"Hola {nombre}, tu edad es {edad}"
saludo

'Hola Thor, tu edad es 30'

> ..:: Operadores de strings ::..

In [ ]:
cadena = "Thor"

cadena + ", hijo de Odin"

'Thor, hijo de Odin'

In [ ]:
# Cuidado con los operadores

cadena * 5

'ThorThorThorThorThor'

In [ ]:
#cadena / 5  # Para ver Error descomentar

> ..:: Otros operadores de Strings ::..

In [ ]:
x = "Real Madrid"
y = "Barcelona"

In [ ]:
x < y

False

In [ ]:
"a" < "b"

True

In [ ]:
"Brasil" == "brasil"

False

In [ ]:
"brasil" == "brasil"

True

In [ ]:
# Caracteres a minúsculas > Utilizando el método "lower()"

cadena = 'Jota Villacis'

cadena.lower()

'jimmy villacis'

In [ ]:
# Caracteres a mayúsculas > Utilizando el método "upper()"

cadena.upper()

'JIMMY VILLACIS'

> ..:: Ingreso de valores por el usuario ::..

In [ ]:
# Si queremos que el usuario ingrese valores para ejecutar en el código, lo realizamo con "input()"

# input()     #Descomentar para utilizar

In [ ]:
nombre = input("Ingresa tu numbre: ")

In [ ]:
nombre

In [ ]:
edad = input("Ingresa tu edad: ")

In [ ]:
type(edad)

In [ ]:
# Se debe tener cuidado con el tratamiento de la variable ya que cuando ingresa un valor en input, se ingresa como string y si queremos utilizar un valor de input como valor numerico(int) para realizar operaciones, debemos casterlo "edad = int(edad)"

edad = int(edad)
type(edad)

In [ ]:
edad * 10

# Ejercicio 1: Monto por préstamo

> ..:: Calcular el monto a pagar por un préstamo ::..

Las variable de entrada son:

m: monto prestado

n: números de meses que dura el préstamo

El monto final a pagar por el préstamo se calcula multiplicando el monto prestado por uno más el interés elevado a la cantidad de meses que dura el préstamo

M = m * ( 1 + i )^n

In [ ]:
m = 1000000
i = 0.05    #5%
n = 12

In [ ]:
monto_pago = m * (1 + i) ** n
monto_pago

1795856.32602213

# Ejercicio 2: Segundos por Semana

> ..:: ¿Cuántos segundos hay en un día? ::..

- 1 minuto tiene 60 segundos
- 1 hora tiene 60 minutos
- 1 día tiene 24 horas

In [ ]:
segundos_por_dia = 24 * 60 * 60
segundos_por_dia

86400

In [ ]:
segundos_por_semana = segundos_por_dia * 7
segundos_por_semana

604800

In [ ]:
# Considerando 1 mes de 30 días

segundos_por_mes = segundos_por_semana * 30
segundos_por_mes

18144000

In [ ]:
segundos_por_año = segundos_por_mes * 12
segundos_por_año

217728000

texto en cursiva# Manejo de Listas

Listas > Son un tipo de variable, la cual permite contener varios valores dentro de si misma

In [ ]:
lista = [3, 3.34,'Nombre', True]

In [ ]:
lista

[3, 3.34, 'Nombre', True]

> ..:: INDICES ::..

A los elementos de una lista se puede acceder mediante los indices los cuales comienzan desde "0"

In [ ]:
# Accediendo al segundo elemento de la lista

lista[1]

3.34

In [ ]:
# Si se accede a un valor fuera del rango nos indica un error 

# lista[5]      #Descomentar para utilizar

In [ ]:
 # También puedo acceder a los elemetos desde el final (derecha a izquierda) y eso se logra utilizando índices negativos

lista[-2]

'Nombre'

In [ ]:
# Comparativa con indice positivo

lista[2]

'Nombre'

Con esto podemos entener que tenemos 2 maneras de acceder con índices positivos y negativos

> ..:: Slicing de listas ::..

In [ ]:
lista = [10,20,30,40,50,60,70,80,90,100]

In [ ]:
# utilizar un rango para acceder a una lista > Ejemplo comenzar en el índice 2 y terminar en el índice 5, esto ocasiona que se seleccionen todos los elementos desde 2 hasta 7, sin embargo esto nos devuelve todo el rango de los elementos a excepción del último  

lista[2:7]

[30, 40, 50, 60, 70]

In [ ]:
# Utilizando rango con índices negativos, nuevamente vemos que no se considera el segundo indice 

lista[2:-2]

[30, 40, 50, 60, 70, 80]

In [ ]:
# Se debe tener en consideración que el resultado que se obtiene también es una lista, para verificarlo lo podemos asignar a una variable y verificar el tipo de esta variable

variable = lista[2:-2]
type(variable)

list

> ..:: Operaciones con Listas ::..

In [ ]:
lista = [10,20,30,40,50,60,70,80,90,100]
lista2 = [1,2,3,4,5]

In [ ]:
# Concatenar listas usando "+"

lista + lista2

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 1, 2, 3, 4, 5]

In [ ]:
# Es importante el orden en que se ingresan los datos, ya que determina el orden en que son agregados, como se demuestra a continuación inviertiendo el orden de la operación anterior

lista2 + lista

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Al utilizar el "*" generamos que me multiplique el contenido de nuestra lista

lista2 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# Se debe tener consideración con ciertos símbolos matematicos que generan error

# lista2 / 5     #Descomentar para comprobar

In [ ]:
# Intentar multiplicar 2 listas también nos da error ya que no esta esta soportado por python porque no está definida para los operadores

# lista * lista2      #Descomentar para comprobar

> ..:: Funciones (len - append - insert) ::..

In [ ]:
lista = [10,20,30,40,50,60,70,80,90,100]

In [ ]:
# Función "len()"(length) > Permite obtener la cantidad de elementos dentro de una lista

len(lista)

10

In [ ]:
# Función "append()" > Permite agregar un elemento al final de una lista

lista.append(110)

lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [ ]:
# Función "insert()" > Permite insertar un objeto en cualquier posición de la lista, especificandole el índice

lista.insert(3, 999)    #(indice,objeto)
lista

[10, 20, 30, 999, 40, 50, 60, 70, 80, 90, 100, 110]

In [ ]:
#También es posible insertar objetos utilizando indice negativo 

lista.insert(-2,111)
lista

[10, 20, 30, 999, 40, 50, 60, 70, 80, 90, 111, 111, 100, 110]

> ..:: Funciones (pop - remove) - Eliminar elementos ::..

In [ ]:
# Función "pop()" > Permite eliminar un elemento con un indice específico

lista.pop(0)

10

In [ ]:
lista

[20, 30, 999, 40, 50, 60, 70, 80, 90, 100, 110]

In [ ]:
# Eliminar un elemento y asignarlo a una variable

variable = lista.pop(2)

In [ ]:
variable

999

In [ ]:
lista

[20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [ ]:
# Eliminar un elemento, según su valor con la función "remove()"

lista.remove(110)

In [ ]:
lista

[20, 30, 40, 50, 60, 70, 80, 90, 100]

> ..:: Ordenar y remplazar elementos (sort - reverse) ::..

In [ ]:
# Modificar un elemento utilizando su índice 

lista[8] = 200

In [ ]:
lista

[20, 30, 40, 50, 60, 70, 80, 90, 200]

In [ ]:
# Ordenar los elementos de una lista de manera ascendente con el método "sort()"

lista2 = [-10,30,55,200,150,-900]

In [ ]:
lista2.sort()

In [ ]:
lista2

[-900, -10, 30, 55, 150, 200]

In [ ]:
# Para ordenar una lista de manera inversa usamos el método "reverse()"

lista2.reverse()

In [ ]:
lista2

[200, 150, 55, 30, -10, -900]

In [ ]:
# Tener en consideración que realiza un orden según su posición no su valor

lista3 = [2,5,8,11,100,-200,1000]

In [ ]:
lista3.reverse()

In [ ]:
lista3

[1000, -200, 100, 11, 8, 5, 2]

> ..:: Operaciones (sum - min - max) ::..

In [ ]:
# Realizar la suma de una lista con valores numericos utilizando la función "sum()"

lista = [2,4,6,8]

In [ ]:
sum(lista)

20

In [ ]:
# Obtener el valor máximo de una lista con la función "max()"

max(lista)

8

In [ ]:
# Obtener el valor mínimo de una lista con la función "min()"

min(lista)

2

> ..:: Listas y Strings ::..

In [ ]:
lista = [20,50,-10,200,-100,2]

saludo = "Hello World"

In [ ]:
# Accediendo a un valor de la lista por su índice

lista[2]

-10

In [ ]:
# Accediendo al valor de un "string" utilizando los índices

saludo[0]

'H'

In [ ]:
# Accediendo a una conjunto de valores en un "string" utilizando un rango

saludo[0:5]

'Hello'

> ..:: Listas y Strings: Mutabilidad ::..

In [ ]:
lista = [20,50,-10,200,-100,2]

saludo = "Hello World"

In [ ]:
# Reemplazar los elementos de una lista indicandolo el índice correspondiente por un nuevo valor

lista[4] = 1234

In [ ]:
lista

[20, 50, -10, 200, 1234, 2]

In [ ]:
# Se debe tener en consideración que tratar de realizar la misma operación con un "string" nos va a dar un error

# saludo[4] = "F"    #Descomentar para comprobar

In [ ]:
# Se debe considerar que un "string" nos permite acceder a sus elementos por su índice pero no permite la asignación, esto se conoce como "inmutabilidad"

# Cuestionario

**texto en negrita**

Pregunta 1:

1)Se de declarar una variable y su tipo antes de poder utilizarla?

a)si

b)no

2)¿Cuál es el resultado de la siguiente operación?

10//4==10/4

a)true

b)false

3)¿Cuál es el resultado de la siguiente operación?

10/2*5+2**2

a)5

b)29

c)579

4)El siguiente programa calcula el promedio de los elementos de una lista. Completar el código faltante

lista = [10,20,30,40,50,60]

promedio = sum(lista)/_(lista)

a)length

b)len

c)size

5) ¿Cuál es el resultado de los siguientes comandos?

lista = [10, 20, 30, 40, 50, 60]

lista[-4:]

a)[30,40,50,60]

b)30

c)[30]

6)¿Cuál es el resultado de la siguiente sentencia?

"Python para todos" == "python para todos"

a)true

b)false

7)¿Cuáles de los siguientes comandos se pueden ejecutar para obtener como resultado la lista [10, 20, 30, 40, 50]

lista = [10, 20, 30, 40]

a)lista.append(50)

b)lista = lista + 50

c)lista[-1] = 50

d)lista.append(50) y/o lista = lista + [50]

8)¿Cuál es el valor de "a" luego de ejecutar las sifuientes sentencias?

lista = [10, 20, 30, 40, 50, 60]

a = lista.pop(3)

a)[10,20,30,50,60]

b)40

c)30

d)[40]

9)¿Cuál es el resultado de la siguiente sentencia?

nombre = "gaseosa"

nombre[1] == nombre[-1]

a)true

b)false

10)¿Cuál es el resultado de ejecutar la siguiente sentencia?

nombre = "Renato"

print(f'Hola,{nombre})

a)Error

b)Hola, nombre

c)Hola, Renato

# Manejo de Tuplas y Sets

> ..:: Definición ::..

Las tuplas son otro tipo de objeto que también representan colecciones

In [ ]:
lista = [1,2,3,4]

In [ ]:
# En el caso de las tuplas las definimos con paréntesis

tupla = (10,20,30,40)

In [ ]:
# Para acceder a los elementos de una tupla

tupla[2]

30

In [ ]:
# Ingresando a una tupla con índices negativos

tupla[-1]

40

> ..:: Inmutabilidad ::..

Tuplas y Sets

In [ ]:
# Reemplazar un elemento de una lista

lista[2] = 123

In [ ]:
lista

[1, 2, 123, 4]

In [ ]:
tupla

(10, 20, 30, 40)

In [ ]:
# Reemplazar un elemento en un tupla nos genera un error, ya que las tuplas son un tipo de dato inmutable
# inmutable == no se pueden modificar los elementos dentro de la colección

# tupla[2] = 123     #Descomentar para verificar

In [ ]:
a = 5
b = 6

In [ ]:
# Asignación de elementos
tupla = a,b

In [ ]:
tupla

(5, 6)

In [ ]:
type(tupla)

tuple

In [ ]:
# Acceder a los elementos de la tupla con los índices

tupla[0]

5

In [ ]:
tupla[1]

6

In [ ]:
tupla = 40,50,60

# Crear una lista a partir de los elementos de la tupla

lista = list(tupla)

In [ ]:
lista

[40, 50, 60]

In [ ]:
# Al crear esta lista nos va a permitir trabajar con los elementos que estan en esta colección y de esta forma poder modidficarlos

lista[1] = 123

In [ ]:
lista

[40, 123, 60]

In [ ]:
# Podemos convertir nuevamente a una tupla utilizando el casteo

tuple(lista)

(40, 123, 60)

> ..:: Asignación de elementos múltiple ::..

Tuplas y Sets

In [ ]:
a = 5

In [ ]:
# Al trabajar con tuplas podemos realizar asignación con mas de un valor a la vez, aprovechando las tuplas que utiliza y como estructuras de datos

In [ ]:
# Asignación de valores a 3 variables

a,b,c = 4,5,6

In [ ]:
a

4

In [ ]:
b

5

In [ ]:
c

6

In [ ]:
# Se pueden asignar distintos tipos de valores

a,b = [1,2,3], True

In [ ]:
a

[1, 2, 3]

In [ ]:
b

True

> ..:: Sets (operaciones con conjuntos) ::..

In [ ]:
# Definir una variable con un conjunto, los conjuntos se definen con llaves "{}"

herramientas_ds = {"Python","R","SQL","Spark","Tableau","Python"}

In [ ]:
# Si se repite algun dato dentro del contenido este no se muestra duplicado

herramientas_ds

{'Python', 'R', 'SQL', 'Spark', 'Tableau'}

In [ ]:
# Agregar elementos nuevos a un conjunto con el método "add()"

herramientas_ds.add("Excel")

In [ ]:
herramientas_ds

{'Excel', 'Python', 'R', 'SQL', 'Spark', 'Tableau'}

In [ ]:
herramientas_de = {"Python","SQL","Spark","Sqoop","Kafka"}

In [ ]:
# Operaciones entre conjuntos (intersección, unión, diferencia)

In [ ]:
# Utilizar el método "intersection()" para obtener cuales son los datos que coinciden entre 2 variables

herramientas_ds.intersection(herramientas_de)

{'Python', 'SQL', 'Spark'}

In [ ]:
# Obtener la diferencia de datos entre 2 variables utilizando en método "difference()"

herramientas_ds.difference(herramientas_de)

{'Excel', 'R', 'Tableau'}

In [ ]:
# Realizar la unión de 2 conjuntos con el método "union()"

herramientas_ds.union(herramientas_de)

{'Excel', 'Kafka', 'Python', 'R', 'SQL', 'Spark', 'Sqoop', 'Tableau'}

> ..:: Diccionarios ::..

Los diccionarios son otro tipo de colecciones que permiten almacenar datos y funcionan con el sistema "clave" : valor

In [ ]:
# Crear un Diccionario

facebook = {"founder": ["Mark Zuckerberg", "Eduardo Saverin"],
            "year": 2004,
            "dominio": "www.facebook.com"}

In [ ]:
facebook

{'dominio': 'www.facebook.com',
 'founder': ['Mark Zuckerberg', 'Eduardo Saverin'],
 'year': 2004}

In [ ]:
type(facebook)

dict

In [ ]:
# Para acceder a los datos dentro de un diccionario es necesario realizarlo con el valor de la "llave"

facebook["founder"]

['Mark Zuckerberg', 'Eduardo Saverin']

> ..:: Get ::..

In [ ]:
# Si accedemos a un valor no existente obtendremos un error

# facebook["datoError"]      #Descomentar para verificar

In [ ]:
# El método "get()" es otro modo de de acceder a los datos y al contrario del caso anterior si intentamos acceder a un valor que no existe no arroja un mensaje de error

facebook.get("dataError")

In [ ]:
# Caso contrario si ingresamos una clave existente

facebook.get("year")

2004

> ..:: Eliminar y actualizar elementos ::..

In [ ]:
facebook = {"founder": ["Mark Zuckerberg", "Eduardo Saverin"],
            "year": 2004,
            "dominio": "www.facebook.com"}

In [ ]:
# Agregar una nueva llave

facebook["stock price"] = 250

In [ ]:
facebook

{'dominio': 'www.facebook.com',
 'founder': ['Mark Zuckerberg', 'Eduardo Saverin'],
 'stock price': 250,
 'year': 2004}

In [ ]:
# Eliminar una llave con el método "pop()"

facebook.pop("year")

2004

In [ ]:
facebook

{'dominio': 'www.facebook.com',
 'founder': ['Mark Zuckerberg', 'Eduardo Saverin'],
 'stock price': 250}

In [ ]:
# Actualizar los valores 

facebook["founder"] = "Mark Zuckerberg"

In [ ]:
facebook

{'dominio': 'www.facebook.com',
 'founder': 'Mark Zuckerberg',
 'stock price': 250}

> ..:: Keys - Values - Items ::..

In [ ]:
facebook = {"stock price" : 250,
            "founder": ["Mark Zuckerberg", "Eduardo Saverin"],
            "year": 2004,
            "dominio": "www.facebook.com"}

In [ ]:
# El método "keys(), nos entrella las llaves del diccionario con el que trabajamos"

#facebook.keys()

dict_keys(['stock price', 'founder', 'year', 'dominio'])

In [ ]:
#Para trabajar con esa lista se debe castear 

keys = list(facebook.keys())

In [ ]:
keys

['stock price', 'founder', 'year', 'dominio']

In [ ]:
# Acceder a los valores dentro del diccionario con el método "values()"

values = facebook.values()

values

dict_values([250, ['Mark Zuckerberg', 'Eduardo Saverin'], 2004, 'www.facebook.com'])

In [ ]:
# Aplicar casteo para acceder con indices

values = list(facebook.values())

values[0]

250

In [ ]:
# Acceder a los valores con el nombre de la "key"

facebook["year"]

2004

In [ ]:
# Acceder mediante el método "items()", utilizando casteo, obtendremos conjuntos de tuplas

items = list(facebook.items())

items

[('stock price', 250),
 ('founder', ['Mark Zuckerberg', 'Eduardo Saverin']),
 ('year', 2004),
 ('dominio', 'www.facebook.com')]

In [ ]:
items[2]

('year', 2004)

> ..:: Update ::..

In [ ]:
facebook

{'dominio': 'www.facebook.com',
 'founder': ['Mark Zuckerberg', 'Eduardo Saverin'],
 'location': 'Palo Alto',
 'stock price': 250,
 'users': '2.5 billion',
 'year': 2004}

In [ ]:
# Actulizar un diccionario utilizando en método "update()"

facebook_extra = {'location': 'Palo Alto',
               'users' : '2.5 billion'}

In [ ]:
facebook.update(facebook_extra)

facebook

{'dominio': 'www.facebook.com',
 'founder': ['Mark Zuckerberg', 'Eduardo Saverin'],
 'location': 'Palo Alto',
 'stock price': 250,
 'users': '2.5 billion',
 'year': 2004}

In [ ]:
# En caso de repetirse una key, esta se reemplaza

facebook_extra = {'founder': 'Mark Zuckerberg',
                    'mobile' : ['android','ios']}

In [ ]:
facebook.update(facebook_extra)

In [ ]:
facebook

{'dominio': 'www.facebook.com',
 'founder': 'Mark Zuckerberg',
 'location': 'Palo Alto',
 'mobile': ['android', 'ios'],
 'stock price': 250,
 'users': '2.5 billion',
 'year': 2004}

> ..:: Control de Flujo ::..

Estas estructuras permiten ciertos bloques de código si se cumplen ciertas condiciones

Estructura de Control "IF"

La sentencia "if" permite ejecutar un bloque de código en base a cierta condición

In [ ]:
if condicion:
  #bloque que se ejecuta si se cumple la condición

In [ ]:
# Programa que indica un mensaje en caso de que el nº sea par

numero = 16

if (numero % 2 == 0):
  print(f"El nº {numero} es par")

El nº 16 es par

> ..:: Estructura de Control "IF, ELSE"

In [ ]:
# "else" nos permite realizar una acción en caso de que no se cumpla una condición 

if condicion:
  #bloque si se cumple la condición
else:
  #bloque si no se cumple la condición

In [ ]:
numero = 17

In [ ]:
if (numero % 2 == 0):
  print(f"El nº {numero} es par")
else:
  print(f"El nº {numero} es impar")

El nº 17 es impar

> ..:: Estructura de Control "IF, ELIF, ELSE" ::..

In [ ]:
# Cuando trabajamos con más de 2 condiciones, utilizamos la sentencia "if .. elif .. else"

if condicion1:
  #bloque si se cumple la condición 1
elif condicion2:
  #bloque si se cumple la condición 2
elif condicion3:
  #bloque si se cumple la condición 3
else:
 # bloque si no se cumple ninguna condición

Ejemplos "IF, ELIF, ELSE"

1) Elegir un pokemon en base a la elección de la de un rival

In [ ]:
pk_rival = "Bulbasaur"

if pk_rival == "Charmander":
  pk_nuestro = "Squirtle"
elif pk_rival == "Squirtle":
  pk_nuestro = "Bulbasaur"
else:
  pk_nuestro = "Charmander"

print(f"{pk_nuestro} yo te elijo!")

Charmander yo te elijo!

2) Escribir un programa que indique la generación correspondiente para un año de nacimiento indicado

Generación Silenciosa (1920-1940)

Baby Boomer (1946-1964)

Generación X (1965-1979)

Generación Y (1980-2000)

Generación Z (2001 -2010)

In [ ]:
year = 1970

if year >= 1920 and year <= 1940:
  generacion = "Generacion Silenciosa"

elif year >= 1946 and year <= 1964:
  generacion = "Generacion Boomer"

elif year >= 1965 and year <= 1979:
  generacion = "Generacion X"

elif year >= 1980 and year <= 2000:
  generacion = "Generacion Y"

elif year >= 2001 and year <= 2010:
  generacion = "Generacion Z"
  
else:
  generacion = "No clasificada"

In [ ]:
 print(f"Tu generacion es {generacion}")

Tu generacion es Generacion X

> ..:: IF, ELSE anidados ::..

In [ ]:
if condicionExterior:

  if condicionIneterior:
    #bloque si se cumple la condicion
  else:
    #bloque si no se cumple la condicion
    
else:
  #bloque si no se cumple la condicion

> ..:: Ejemplo IF, ELSE anidados ::..

1)Determinar si se va a entregar un crédito a un cliente de un banco

Para aprobar un crédito, el cliente debe ser mayor de edad.

Además, debe tener una antiguedad en el sistema financiero de como mínimo 3 años y un ingreso mayor a 2500 soles.

En caso de que no tenga la antiguedad suficiente, su ingreso mensual debe ser como mínimo 4000 soles.


Si no cumple ninguna de las condiciones, no se aprueba el crédito

In [ ]:
cli_edad = 18
cli_antiguedad = 3
cli_ingreso = 5000

if cli_edad >= 18:

  if cli_antiguedad >= 3 and cli_ingreso >= 2500:
      print("Aprobado")
  elif cli_ingreso >= 4000:
      print("Aprobado")
  else:
    print("No aprobado")

else:
  print("No aprobado")

Aprobado

2)Caso Bisiesto

Escribir un programa que indique si un año es bisiesto o no. Las reglas para determinar que un año es bisiesto son:

Los años bisiestos son los divisibles entre 4 (ej: 2004, 2008)

Excepto si es divisible  entre 100, entonces no es bisiesto (ej: 2100, 2200)

Excepto si es divisible entre 400, entonces si lo es (ej: 2000,2400)

In [ ]:
agno = 2400

if agno % 4 == 0:

  if agno % 100 == 0:
    print()

    if agno % 400 == 0:
      print(f"El año {agno} es bisiesto")
    else:
      print(f"El año {agno} no es bisiesto")

  else:
    print(f"El año {agno} es bisiesto")

else:
  print(f"El año {agno} no es bisiesto")

El año 2400 es bisiesto

3)Escribir un programa que reciba una palabra e imprima si la palabra es palíndroma

In [ ]:
palabra = input("Ingrese una palabra: ")

if palabra == palabra[::-1]:
  print("Es palíndroma")
else:
  print("No es palíndroma")

Ingrese una palabra: anitalavalatina
Es palíndroma

In [ ]:
list(set([1,2,2,2,2,2,1]))

[1, 2]

# ..:: Bucles ::..

Estructuras iterativas, ejecutamos un bloque de codigo de forma repetida, si se cumple cierta condicion

In [ ]:
# While

while condicion:
  #bloque de codigo a repetir

While permite ejecutar un bloque de código, mientras la condición sea verdadera

In [9]:
# Imprimir los números enteros menores a 10

numero = 1

while numero < 10:
  print(numero)
  numero = numero + 1

1
2
3
4
5
6
7
8
9

..:: Bucles infinitos ::..

Son bucles que nunca dejan de cumplir la condición y se ejecutan de forma constante

In [ ]:
# Ejemplo de bucle infinito ya que 'numero = 1' siempre va a ser menor a '10'

numero = 1

while numero < 10:
  print(numero)

Calcular la suma de una cantidad de números enteros ingresados por el usuario

In [ ]:
suma = 0

while True:
  input_usuario = int(input("Ingresar un número: "))
  suma = suma + input_usuario
  print(f"La suma es {suma}")

In [15]:
# Valor 'centinela', se utiliza para terminar un proceso 

suma = 0
continuar = True

while continuar:
  input_usuario = input("Ingresar un número:  (para terminar escribir 'exit')")
  
  if input_usuario == 'exit':
    continuar = False
  else:
    numero = int(input_usuario)
    suma = suma + numero
    print(f"La suma es {suma}")
  
print(f"La suma final es {suma}")

Ingresar un número:  (para terminar escribir 'exit')12
La suma es 12
Ingresar un número:  (para terminar escribir 'exit')12
La suma es 24
Ingresar un número:  (para terminar escribir 'exit')12
La suma es 36
Ingresar un número:  (para terminar escribir 'exit')exit
La suma final es 36

..:: While break ::..

In [16]:
# La sentencia 'break' permite salir de un bucle, desde cualquier lugar donde sea ejecutado

numero = 1

while numero < 10:

  if numero == 5:
    break

  print(numero)
  numero = numero + 1

1
2
3
4

..:: While continue ::..

In [19]:
# En una iteración si el código se encuentra con 'continue', dej de ejecutar ese bloque de código y pasa a la siguiente iteración

numero = 0

while numero < 10:
  numero = numero + 1

  if numero % 2 == 0:
    print("continue cuando es par")
    continue

  print(numero)

1
continue cuando es par
3
continue cuando es par
5
continue cuando es par
7
continue cuando es par
9
continue cuando es par

Break y Continue, nos permiten modificar el comportamiento de los bucles en base al cumplimiento de ciertas condiciones

..:: Ejercicio Blackjack ::..

El jugardor obtiene una carta y va sumandolas hasta obtener el número 21 o el más cercano posible

In [21]:
# El paquete random nos permite obtener valores aleatorios

import random
random.randint(1,13)  #Con esto damos un rango para la obtencion de los valores

8

In [29]:
suma = 0

while suma <= 21:
  carta = random.randint(1,13)
  suma = suma + carta
  
  print(f"La carta obtenida es: {carta}")
  print(f"La suma de cartas es: {suma}")

  if suma == 21:
    print("BLACKJACK!")
    break
  
  elif suma > 21:
    print("Perdiste ='(, sigue intentando!")
    break

  else:
    decision = input("Desea obetner otra carta (S/N): ")
    if decision == 'N':
      print(f"La suma final de cartas es {suma}")
      break

La carta obtenida es: 10
La suma de cartas es: 10
Desea obetner otra carta (S/N): S
La carta obtenida es: 11
La suma de cartas es: 21
BLACKJACK!

..:: Bucle for ::..

Nos permite recorrer una lista

In [ ]:
# For

for valor in 'lista de valores':
  #bloque de codigo para cada valor

In [30]:
# Escribir la canción Me gusta de Manu Chao

gustos_manuchao = ["los aviones", "viajar", "la mañana", "el viento", "soñar", "la mar"]

for gusto in gustos_manuchao:
  print(f"Me gusta {gusto}, me gustas tú")

Me gusta los aviones, me gustas tú
Me gusta viajar, me gustas tú
Me gusta la mañana, me gustas tú
Me gusta el viento, me gustas tú
Me gusta soñar, me gustas tú
Me gusta la mar, me gustas tú

..:: For Zip ::..

In [39]:
# La función 'zip' nos permite recorrer una list

nombres = ["Mark Zuckerberg", "Jack Dorsey", "Steve Jobs", "Bill Gates"]
empresas = ["Facebook", "Twitter", "Apple", "Microsoft"]
precio_accion = [24.7, 293.6, 499.2, 228.2]

In [40]:
for nombre in nombres:
  print(nombre)

Mark Zuckerberg
Jack Dorsey
Steve Jobs
Bill Gates

In [41]:
for nombre, empresa, valor in zip(nombres, empresas, precio_accion):
  print(nombre,empresa,valor)

Mark Zuckerberg Facebook 24.7
Jack Dorsey Twitter 293.6
Steve Jobs Apple 499.2
Bill Gates Microsoft 228.2

In [44]:
for nombre, empresa, valor in zip(nombres, empresas, precio_accion):
  print(f"{nombre} fundó {empresa} y su accion tiene un precio de ${valor}")

Mark Zuckerberg fundó Facebook y su accion tiene un precio de $24.7
Jack Dorsey fundó Twitter y su accion tiene un precio de $293.6
Steve Jobs fundó Apple y su accion tiene un precio de $499.2
Bill Gates fundó Microsoft y su accion tiene un precio de $228.2

..:: For Range ::..

In [45]:
# La función 'range' permite obtener un rango numérico con límites especificados

range(1, 10)

range(1, 10)

In [46]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
# También se puede especificar una condición para el rango, por ejemplo que incremente de 2 en 2

list(range(1,10,2))

[1, 3, 5, 7, 9]

In [48]:
for numero in range(1,20,3):
  print(numero)

1
4
7
10
13
16
19

In [49]:
# Obtener una lista de cuadrados
cuadrados = []

for numero in range(1,20,3):
  cuadrados.append(numero ** 2)

cuadrados

[1, 16, 49, 100, 169, 256, 361]

In [50]:
# Obtener una lista en orden descendente

list(range(100,50,-5))

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55]

..:: For Compresion ::..

In [53]:
cuadrados = []

for numero in range(1,14):
  cuadrados.append(numero ** 2)

cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [58]:
# Esta es la forma más compacta y eficiente y se obtiene el mismo resultado que el código anterior 
cuadrados = [numero ** 2 for numero in range(1,14)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [59]:
# Generar los resultados o valores numéricos para los números pares

cuadrados = []

for numero in range(1,14):

  if numero % 2 == 0:
    cuadrados.append(numero ** 2)
  
cuadrados

[4, 16, 36, 64, 100, 144]

In [61]:
# En su forma compacta quedaría de la siguiente manera

cuadrados = [numero ** 2 for numero in range(1,14) if numero % 2 == 0]
cuadrados

[4, 16, 36, 64, 100, 144]

..:: For Comprensión Diccionarios ::..


Crear un diccionario en que las llaves sean las empresas y los valores los precios de las acciones

In [62]:
empresas = ["Facebook", "Twitter", "Apple", "Microsoft"]
precio_accion = [24.7, 293.6, 499.2, 228.2]

In [65]:
dict_acciones = {}

for empresa, precio in zip(empresas, precio_accion):
  dict_acciones[empresa] = precio

dict_acciones

{'Apple': 499.2, 'Facebook': 24.7, 'Microsoft': 228.2, 'Twitter': 293.6}

In [64]:
dict_acciones_compacta = {empresa: precio for empresa, precio in zip(empresas, precio_accion)}
dict_acciones_compacta

{'Apple': 499.2, 'Facebook': 24.7, 'Microsoft': 228.2, 'Twitter': 293.6}

In [67]:
dict_acciones

{'Apple': 499.2, 'Facebook': 24.7, 'Microsoft': 228.2, 'Twitter': 293.6}

In [69]:
# Filtrado de diccionario

dict_filtrado = {}

for empresa, precio in dict_acciones.items():
  print(empresa, precio)

Facebook 24.7
Twitter 293.6
Apple 499.2
Microsoft 228.2

In [70]:
# En este ejemplo se utiliza un filtro para obtener las empresas en las cuales el precio sea mayor a $250

dict_filtrado = {}

for empresa, precio in dict_acciones.items():
  if precio > 250:
    dict_filtrado[empresa] = precio

dict_filtrado

{'Apple': 499.2, 'Twitter': 293.6}

In [72]:
# En su forma compacta seria de la siguiente manera

dict_filtrado_compacto = {empresa:precio for empresa, precio in dict_acciones.items() if precio > 250}

dict_filtrado_compacto

{'Apple': 499.2, 'Twitter': 293.6}

..:: For Enumerate ::..

In [73]:
lista_compras = ["piñas", "mangos", "uvas", "platanos"]

for fruta in lista_compras:
  print(fruta)

piñas
mangos
uvas
platanos

In [75]:
#La función "enumerate()", permite colocar índices a los elementos de una lista 

for variable in enumerate(lista_compras):
  print(variable)

(0, 'piñas')
(1, 'mangos')
(2, 'uvas')
(3, 'platanos')

In [76]:
for numero, fruta in enumerate(lista_compras, 1):  #con el "1" indicamos desde donde comienza nuestro índice
  print(f"{numero}. {fruta}")

1. piñas
2. mangos
3. uvas
4. platanos

> ..:: Ejercicio 1 ::.. 

Escribir un programa que reciba un número de un usuario e imprima los cubos de los números menores

In [ ]:
numLimite = int(input("Ingrese un número entero: "))

cubos = [numero ** 3 for numero in range(1, numLimite)]
print(cubos)

Ingrese un número entero: 5
[1, 8, 27, 64]

> ..:: Ejercicio 2 ::..

Escribir un programa que reciba un número de un usuario e imprima si el número es primo o no

In [92]:
numero = int(input("Ingrese un número: "))
primo = True

if numero % 2 == 0 and numero != 2:
  primo = False

else:
  for divisor in range(1, numero, 2):
    if numero % divisor == 0:
      primo = False
      break

if primo:
  print(f"{numero} es primo")
else:
  print(f"{numero} No es primo. Es divisible entre {divisor} y {numero//divisor}")

Ingrese un número: 75
75 No es primo. Es divisible entre 1 y 75

..:: Ejercicio 3 ::..

Escribir un programa que calcule el factorial de un número

In [94]:
numero = 10

producto = 1

for n in range(1, numero +1):
  producto = producto * n

print(f"El factorial de {numero} es {producto}")

El factorial de 10 es 3628800