<a href="https://colab.research.google.com/github/jota-villacis/pythonNotes/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Notas Curso Python para Todos - Udemy**

Instructor: Manuel Montoya

DataHack Formation

# Tipos de Variables

> ..:: Variables Numericas ::..

In [ ]:
# Tipo Entero (int)

x = 20
x

20

In [ ]:
# Tipo decimal / Variable de punto flotante (float)

y = 10.8
y

10.8

In [ ]:
# Obetner el tipo de variable

type(y)

float

> ..:: Casteo de variables numéricas ::..

In [ ]:
x = 50.7
y = 48.9

# Casteo explícito > Le indico el tipo de variable que quiero obtener y la coloco dentro "z = int(x+y)"

z = int(x+y)
z

99

In [ ]:
z = int(x) + int(y)
z

98

> ..:: Funcion "round" ::..

In [ ]:
# Permite obtener el número entero más cercano a el número decimal 

x = 37.4
y = 22.8

z = round(x) + round(y)
z

60

In [ ]:
# Para convertir una variable a tipo "float" (flotante)

x = 7

z = float(x)
z

7.0

In [ ]:
# Comprobamos el tipo de dato nuevamente con "type(z)"

type(z)

float

> ..:: Operadores de Variables Numéricas ::..

In [ ]:
 a = 20
 b = 10

In [ ]:
# Suma

a + b

30

In [ ]:
# Resta

a - b

10

In [ ]:
# Multiplicación

a * b

200

In [ ]:
# División

a / b

2.0

In [ ]:
# Potencia

a ** b

10240000000000

In [ ]:
# Obtner el Resto

a % b

0

In [ ]:
# Raiz cuadrada > "elevar a 1/2" 

x = 16
y = 1/2

x ** (y)

4.0

In [ ]:
# Orden de operaciones

5 + 16 / 2 ** 4

6.0

In [ ]:
5 + (16 / 2) ** 4

4101.0

> ..:: Variables Booleanas ::..

In [ ]:
4 < 5

True

In [ ]:
a = 4 > 5
a

False

In [ ]:
4 == 4

True

In [ ]:
x = 4 == 6
x

False

In [ ]:
x = True
y = False

type(x)

bool

> ..:: Operadores de combinación de variables booleanas ::..

In [ ]:
c = True
d = False

In [ ]:
# Operador "and" > Devuelve un valor verdadero(True) si los valores analizados son verdaderos

c and c

True

In [ ]:
c and d

False

In [ ]:
# Operador "or" > Devuelve un valor verdadero(True) siempre y cuando al menos uno de los valores analizados sea verdadero

c or d

True

In [ ]:
d or d

False

In [ ]:
(3 < 4) and (4 < 5)

True

> ..:: Strings ::..

In [ ]:
saludo = "Hola Mundo!"
saludo

'Hola Mundo!'

In [ ]:
type(saludo)

str

In [ ]:
# "F strings" > Permite combinar sentencias de texto con valores que tenemos en otras variable

nombre = "Thor"
edad = 30

saludo = f"Hola {nombre}, tu edad es {edad}"
saludo

'Hola Thor, tu edad es 30'

> ..:: Operadores de strings ::..

In [ ]:
cadena = "Thor"

cadena + ", hijo de Odin"

'Thor, hijo de Odin'

In [ ]:
# Cuidado con los operadores

cadena * 5

'ThorThorThorThorThor'

In [ ]:
#cadena / 5  # Para ver Error descomentar

> ..:: Otros operadores de Strings ::..

In [ ]:
x = "Real Madrid"
y = "Barcelona"

In [ ]:
x < y

False

In [ ]:
"a" < "b"

True

In [ ]:
"Brasil" == "brasil"

False

In [ ]:
"brasil" == "brasil"

True

In [ ]:
# Caracteres a minúsculas > Utilizando el método "lower()"

cadena = 'Jota Villacis'

cadena.lower()

'jimmy villacis'

In [ ]:
# Caracteres a mayúsculas > Utilizando el método "upper()"

cadena.upper()

'JIMMY VILLACIS'

> ..:: Ingreso de valores por el usuario ::..

In [ ]:
# Si queremos que el usuario ingrese valores para ejecutar en el código, lo realizamo con "input()"

# input()     #Descomentar para utilizar

In [ ]:
nombre = input("Ingresa tu numbre: ")

In [ ]:
nombre

In [ ]:
edad = input("Ingresa tu edad: ")

In [ ]:
type(edad)

In [ ]:
# Se debe tener cuidado con el tratamiento de la variable ya que cuando ingresa un valor en input, se ingresa como string y si queremos utilizar un valor de input como valor numerico(int) para realizar operaciones, debemos casterlo "edad = int(edad)"

edad = int(edad)
type(edad)

In [ ]:
edad * 10

# Ejercicio 1: Monto por préstamo

> ..:: Calcular el monto a pagar por un préstamo ::..

Las variable de entrada son:

m: monto prestado

n: números de meses que dura el préstamo

El monto final a pagar por el préstamo se calcula multiplicando el monto prestado por uno más el interés elevado a la cantidad de meses que dura el préstamo

M = m * ( 1 + i )^n

In [ ]:
m = 1000000
i = 0.05    #5%
n = 12

In [ ]:
monto_pago = m * (1 + i) ** n
monto_pago

1795856.32602213

# Ejercicio 2: Segundo por Semana

> ..:: ¿Cuántos segundos hay en un día? ::..

- 1 minuto tiene 60 segundos
- 1 hora tiene 60 minutos
- 1 día tiene 24 horas

In [ ]:
segundos_por_dia = 24 * 60 * 60
segundos_por_dia

86400

In [ ]:
segundos_por_semana = segundos_por_dia * 7
segundos_por_semana

604800

In [ ]:
# Considerando 1 mes de 30 días

segundos_por_mes = segundos_por_semana * 30
segundos_por_mes

18144000

In [ ]:
segundos_por_año = segundos_por_mes * 12
segundos_por_año

217728000

# Manejo de Listas

Listas > Son un tipo de variable, la cual permite contener varios valores dentro de si misma

In [1]:
lista = [3, 3.34,'Nombre', True]

In [2]:
lista

[3, 3.34, 'Nombre', True]

> ..:: INDICES ::..

A los elementos de una lista se puede acceder mediante los indices los cuales comienzan desde "0"

In [3]:
# Accediendo al segundo elemento de la lista

lista[1]

3.34

In [5]:
# Si se accede a un valor fuera del rango nos indica un error 

# lista[5]      #Descomentar para utilizar

In [ ]:
 # También puedo acceder a los elemetos desde el final (derecha a izquierda) y eso se logra utilizando índices negativos

lista[-2]

'Nombre'

In [ ]:
# Comparativa con indice positivo

lista[2]

'Nombre'

Con esto podemos entener que tenemos 2 maneras de acceder con índices positivos y negativos

> ..:: Slicing de listas ::..

In [ ]:
lista = [10,20,30,40,50,60,70,80,90,100]

In [ ]:
# utilizar un rango para acceder a una lista > Ejemplo comenzar en el índice 2 y terminar en el índice 5, esto ocasiona que se seleccionen todos los elementos desde 2 hasta 7, sin embargo esto nos devuelve todo el rango de los elementos a excepción del último  

lista[2:5]

[30, 40, 50]

In [ ]:
# Utilizando rango con índices negativos, nuevamente vemos que no se considera el segundo indice 

lista[2:-2]

[30, 40, 50, 60, 70, 80]

In [ ]:
# Se debe tener en consideración que el resultado que se obtiene también es una lista, para verificarlo lo podemos asignar a una variable y verificar el tipo de esta variable

variable = lista[2:-2]
type(variable)

list

> ..:: Operaciones con Listas ::..

In [ ]:
lista = [10,20,30,40,50,60,70,80,90,100]
lista2 = [1,2,3,4,5]

In [ ]:
# Concatenar listas usando "+"

lista + lista2

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 1, 2, 3, 4, 5]

In [ ]:
# Es importante el orden en que se ingresan los datos, ya que determina el orden en que son agregados, como se demuestra a continuación inviertiendo el orden de la operación anterior

lista2 + lista

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Al utilizar el "*" generamos que me multiplique el contenido de nuestra lista

lista2 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# Se debe tener consideración con ciertos símbolos matematicos que generan error

# lista2 / 5     #Descomentar para probar

In [ ]:
# Intentar multiplicar 2 listas también nos da error ya que no esta esta soportado por python porque no está definida para los operadores

# lista * lista2      #Descomentar para utilizar

> ..:: Funciones (len - append - insert) ::..

In [ ]:
lista = [10,20,30,40,50,60,70,80,90,100]

In [ ]:
# Función "len()"(length) > Permite obtener la cantidad de elementos dentro de una lista

len(lista)

10

In [ ]:
# Función "append()" > Permite agregar un elemento al final de una lista

lista.append(110)

lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [ ]:
# Función "insert()" > Permite insertar un objeto en cualquier posición de la lista, especificandole el índice

lista.insert(3, 999)
lista

[10, 20, 30, 999, 40, 50, 60, 70, 80, 90, 100, 110]

> ..:: Funciones (pop - remove) ::..

In [ ]:
# Función "pop()" > Permite eliminar un elemento con un indice específico

lista.pop(0)

10

In [ ]:
lista

[20, 30, 999, 40, 50, 60, 70, 80, 90, 100, 110]

In [ ]:
# Eliminar un elemento y asignarlo a una variable

variable = lista.pop(2)

In [ ]:
variable

999

In [ ]:
lista

[20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [ ]:
# Eliminar un elemento, según su valor con la función "remove()"

lista.remove(110)

In [ ]:
lista

[20, 30, 40, 50, 60, 70, 80, 90, 100]

> ..:: Ordenar y remplazar elementos (sort - reverse) ::..

In [ ]:
# Modificar un elemento utilizando su índice 

lista[8] = 200

In [ ]:
lista

[20, 30, 40, 50, 60, 70, 80, 90, 200]

In [ ]:
# Ordenar los elementos de una lista de manera ascendente con el método "sort()"

lista2 = [-10,30,55,200,150,-900]

In [ ]:
lista2.sort()

In [ ]:
lista2

[-900, -10, 30, 55, 150, 200]

In [ ]:
# Para ordenar una lista de manera inversa usamos el método "reverse()"

lista2.reverse()

In [ ]:
lista2

[200, 150, 55, 30, -10, -900]

In [ ]:
# Tener en consideración que realiza un orden según su posición no su valor

lista3 = [2,5,8,11,100,-200,1000]

In [ ]:
lista3.reverse()

In [ ]:
lista3

[1000, -200, 100, 11, 8, 5, 2]

> ..:: Operaciones (sum - min - max) ::..

In [ ]:
# Realizar la suma de una lista con valores numericos utilizando la función "sum()"

lista = [2,4,6,8]

In [ ]:
sum(lista)

20

In [ ]:
# Obtener el valor máximo de una lista con la función "max()"

max(lista)

8

In [ ]:
# Obtener el valor mínimo de una lista con la función "min()"

min(lista)

2

> ..:: Listas y Strings ::..

In [ ]:
lista = [20,50,-10,200,-100,2]

saludo = "Hello World"

In [ ]:
# Accediendo a un valor de la lista por su índice

lista[2]

-10

In [ ]:
# Accediendo al valor de un "string" utilizando los índices

saludo[0]

'H'

In [ ]:
# Accediendo a una conjunto de valores en un "string" utilizando un rango

saludo[0:5]

'Hello'

> ..:: Listas y Strings: Mutabilidad ::..

In [ ]:
lista = [20,50,-10,200,-100,2]

saludo = "Hello World"

In [ ]:
# Reemplazar los elementos de una lista indicandolo el índice correspondiente por un nuevo valor

lista[4] = 1234

In [ ]:
lista

[20, 50, -10, 200, 1234, 2]

In [ ]:
# Se debe tener en consideración que tratar de realizar la misma operación con un "string" nos va a dar un error

# saludo[4] = "F"    #Descomentar para utilizar

In [ ]:
# Se debe considerar que un "string" nos permite acceder a sus elementos por su índice pero no permite la asignación, esto se conoce como "inmutabilidad"

> ..:: Cuestionario ::..

Pregunta 1:

1)Se de declarar una variable y su tipo antes de poder utilizarla?

a)si

b)no

2)¿Cuál es el resultado de la siguiente operación?

10//4==10/4

a)true

b)false

3)¿Cuál es el resultado de la siguiente operación?

10/2*5+2**2

a)5

b)29

c)579

4)El siguiente programa calcula el promedio de los elementos de una lista. Completar el código faltante

lista = [10,20,30,40,50,60]

promedio = sum(lista)/_(lista)

a)length

b)len

c)size

5) ¿Cuál es el resultado de los siguientes comandos?

lista = [10, 20, 30, 40, 50, 60]

lista[-4:]

a)[30,40,50,60]

b)30

c)[30]

6)¿Cuál es el resultado de la siguiente sentencia?

"Python para todos" == "python para todos"

a)true

b)false

7)¿Cuáles de los siguientes comandos se pueden ejecutar para obtener como resultado la lista [10, 20, 30, 40, 50]

lista = [10, 20, 30, 40]

a)lista.append(50)

b)lista = lista + 50

c)lista[-1] = 50

d)lista.append(50) y/o lista = lista + [50]

8)¿Cuál es el valor de "a" luego de ejecutar las sifuientes sentencias?

lista = [10, 20, 30, 40, 50, 60]

a = lista.pop(3)

a)[10,20,30,50,60]

b)40

c)30

d)[40]

9)¿Cuál es el resultado de la siguiente sentencia?

nombre = "gaseosa"

nombre[1] == nombre[-1]

a)true

b)false

10)¿Cuál es el resultado de ejecutar la siguiente sentencia?

nombre = "Renato"

print(f'Hola,{nombre})

a)Error

b)Hola, nombre

c)Hola, Renato